/* All Codes */

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.005em;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
/*
body{
    background-color: #0a9e79;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/

/*

---Main Things---

Koyu lacivert: #2B3A67
Şarap bordosu: #732C38
Koyu kahverengi: #4A3F35
Krem rengi: #F5E1DA
Koyu zeytin yeşili: #556B2F
Gül kurusu: #C08081
Fildişi Beyazı: #FFFFF0

background-color: #0a9e79;

font-family: "Funnel Display", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Open Sans", sans-serif;

font-family: "Inter", sans-serif;

font-family: "Playfair Display", serif;

<i class="fa-solid fa-caret-down"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-duotone fa-solid fa-user"></i>
<div id="navbar"></div>
<div id="solmenu"></div>
<div id="content"></div>
<div id="footer"></div>

*/

/* All */

.font_family_funnel_display{
    font-family: "Funnel Display", sans-serif;
}

.font_family_playfair_display{
    font-family: "Playfair Display", serif;
}

.font_family_inter{
    font-family: "Inter", sans-serif;
}

.font_family_babas_neue{
    font-family: "Bebas Neue", sans-serif;
}

.font_family_open_sans{
    font-family: "Open Sans", sans-serif;
}

.font_family_source_sans_3{
    font-family: "Source Sans 3", sans-serif;
}

.font_family_montserrat{
    font-family: "Montserrat", sans-serif;
}

.font_family_barlow_semi_condensed{
    font-family: "Barlow Semi Condensed", sans-serif;
}

#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

#nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(rgba(28, 13, 10, 0.7),rgba(0, 0, 0, 0.6)),
    url(pexels-adrienn-638530-1537635.jpg);
    background-position: center;
    background-size: cover;
    height: 630px;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1150px;
    height: 64px;
}

.navbar_left{
    width: 90%;
}

.navbar_right_display{
    display: none;
}

.navbar_right{
    z-index: 1;
    margin: 70px 0px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.navbar_activate_button{
    width: 10%;
}

.display_none{
    display: none;
}

.navbar_activate_button i{
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 20px;
    float: right;
}

.navbar_deactivate_button{
    width: 10%;
}

.navbar_deactivate_button i{
    margin: 5px 0px 0px 0px;
    color: white;
    font-size: 22px;
    float: right;
}

.navbar_activate_button i:hover{
    cursor: pointer;
}

.navbar_deactivate_button i:hover{
    cursor: pointer;
}

.bsq_nav_a{
    color: rgb(61, 61, 61);
    text-decoration: none;
    text-align: center;
}

.home{
    font-size: 23px;
    padding: 17.5px 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.home a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0px;
}

.nav_a{
    width: 100%;
    padding: 6px 0px;
}

.nav_a div{
    font-weight: 500;
    font-size: 17px;
    float: left;
    padding: 0px 0px 0px 20px;
}

.nav_right_home_a{
    padding: 12px 0px 6px 0px;
}

.reserve_a{
    color: rgb(61, 61, 61);
    text-decoration: none;
    padding: 6px 0px 12px 0px;
}

.nav_a:hover{
    background-color: white;
    color: #1c0d0a;
    transition: 0.23s linear;
}

#navph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.yazi{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.yazi1{
    color: rgb(192, 192, 192);
    margin: 60px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 15px;
    opacity: 0.9;
}

.yazi2{
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 70px;
    width: 67%;
}

.yazi3{
    color: rgb(192, 192, 192);
    width: 35%;
    opacity: 0.8;
}

.line{
    background-color: white;
    margin-top: 70px;
    width: 1px;
    height: 80px;
}

/* Content */

/* About Us Content */

#main_content{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#disc_cont{
    margin: auto;
    width: 1200px;
    margin: 0px 0px 50px 0px;
}

#disc_cont div div img{
    width: 500px;
}

.disc_ins_cont{
    display: inline-block;
}

.disc_ins_cont_1{
    float: right;
    margin-right: 40px;
    width: 500px;
}

.disc_ins_cont_2{
    margin-left: 40px;
    float: left;
    width: 500px;
}

.disc_ins_cont_1_yazi_1{
    width: 500px;
    margin: 0px 0px 20px 0px;
}

.disc_ins_cont_1_yazi_1 h1{
    color: #1c0d0a;
    font-size: 20px;
    margin: 8px 0px;
}

.disc_ins_cont_1_yazi_2{
    width: 500px;
}

.disc_ins_cont_1_yazi_2 h1{
    color: #1c0d0a;
    font-size: 20px;
    margin: 8px 0px;
}

.disc_ins_cont div span{
    font-size: 17px;
    color: rgb(98, 110, 134);
    line-height: 26px;
}

.disc_ins_cont_2_yazi_1{
    width: 500px;
    margin: 0px 0px 20px 0px;
}

.disc_ins_cont_2_yazi_2{
    width: 500px;
}

.disc_ins_cont_2_yazi_1 h1{
    margin-bottom: 10px;
    font-size: 45px;
    color: #1c0d0a;
}

.disc_ins_cont_2_yazi_1 span{
    font-size: 18px;
}

.disc_ins_cont_2_yazi_2 h1{
    font-size: 20px;
    margin: 10px 0px;
    color: #1c0d0a;
}

/* Menu Content Top */

#menu_cont{
    width: 100%;
    background-color: #1c0d0a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_cont_top{
    width: 1200px;
    display: flex;
    align-items: center;
}

.menu_cont_top_same{
    display: inline-block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 200px;
    height: 70px;
    width: 400px;
    opacity: 0.5;
}

.menu_cont_top_center{
    text-align: center;
    color: white;
    width: 400px;
}

.menu_cont_top_center h1{
    font-size: 50px;
    margin: 20px 0px -40px 0px;
}

/* Menu Center Content */

.menu_cont_center{
    display: flex;
    align-items: center;
    width: 1200px;
    gap: 200px;
}

.menu_cont_center_same{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px 50px 0px;
    width: 600px;
}

.menu_cont_center_left{
    margin-bottom: 45px;
    width: 500px;
    height: 90px;
    color: white;
}

.menu_cont_center_left h6{
    opacity: 0.9;
    font-weight: 700px;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0px 0px 30px 0px;
}

.menu_cont_center_same div p{
    padding: 0px 0px 25px 0px;
    color: grey;
    font-size: 16px;
    border-bottom: 1px dashed white;
}

.menu_cont_center_right{
    margin-bottom: 45px;
    width: 500px;
    height: 90px;
    color: white;
}

.menu_cont_center_right h6{
    opacity: 0.9;
    font-weight: 700px;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0px 0px 30px 0px;
}

.menu_site_button_all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.menu_site_button_side{
    width: 460px;
    height: 1px;
    background-color: rgb(141, 141, 141);
}

.menu_site_button{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    width: 125px;
}

.menu_site_button_all a{
    margin: 0px 30px;
    padding: 14px 26px;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.menu_site_button_all a:hover{
    background-color: white;
    color: black;
    transition: 0.2s linear;
}

/* Menu Bottom Content */

.menu_cont_bottom{
    color: white;
    margin-top: 100px;
    width: 100%;
    height: 400px;
    background-image:
    linear-gradient(rgba(28, 13, 10, 0.5),rgba(0, 0, 0, 0.6)),
    url(pexels-pixabay-262978.jpg);
    background-position: 50% 60%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.menu_cont_bottom_insd{
    width: 1350px;
}

.menu_cont_bottom_insd h3{
    letter-spacing: 2px;
    margin: 100px 0px 30px 70px;
    font-size: 13px;
}

.menu_cont_bottom_insd h1{
    letter-spacing: 2px;
    margin: 0px 0px 25px 70px;
    font-size: 45px;
}

.menu_cont_bottom_insd div{
    width: 600px;
    font-size: 17px;
    margin: 0px 0px 0px 70px;
}

/* Contact Us */

#reservation{
    width: 100%;
    display: flex;
    justify-content: center;
}

.reservation_cent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 80px 50px 100px 50px ;
    text-align: center;
}

.reservation_ins_cont_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation_ins_cont_reserve h1{
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0px 0px 20px 0px;
}

.reservation_ins_cont_reserve_text{
    width: 650px;
    margin: 0px 0px 30px 0px;
    color: rgb(98, 110, 134);
}

.reservation_ins_cont_book_a_table{
    border: 2px solid rgb(28, 13, 10);
}

.reservation_ins_cont_book_a_table a{
    color: black;
    text-decoration: none;
}

.reservation_ins_cont_book_a_table a:hover h6{
    background-color: rgb(28, 13, 10);
    font-weight: 400;
    color: white;
    transition: 0.15s linear;
}

.reservation_ins_cont_book_a_table a h6{
    padding: 10px 20px;
}

.reservation_ins_cont_phone_reserve{
    margin: 50px 0px 20px 0px;
    letter-spacing: 2px;
}

.reservation_ins_cont_number{
    font-size: 50px;
}

.reservation_ins_cont_number a{
    text-decoration: none;
    color: black;
}

/* Footer */
