/* All Codes */

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.005em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
/*
body{
    background-color: #0a9e79;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/

/*

---Main Things---

Koyu lacivert: #2B3A67
Şarap bordosu: #732C38
Koyu kahverengi: #4A3F35
Krem rengi: #F5E1DA
Koyu zeytin yeşili: #556B2F
Gül kurusu: #C08081
Fildişi Beyazı: #FFFFF0

background-color: #0a9e79;

font-family: "Funnel Display", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Open Sans", sans-serif;

font-family: "Inter", sans-serif;

font-family: "Playfair Display", serif;

<i class="fa-solid fa-caret-down"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-duotone fa-solid fa-user"></i>
<div id="navbar"></div>
<div id="solmenu"></div>
<div id="content"></div>
<div id="footer"></div>

*/

/* All */

.font_family_funnel_display{
    font-family: "Funnel Display", sans-serif;
}

.font_family_playfair_display{
    font-family: "Playfair Display", serif;
}

.font_family_inter{
    font-family: "Inter", sans-serif;
}

.font_family_babas_neue{
    font-family: "Bebas Neue", sans-serif;
}

.font_family_open_sans{
    font-family: "Open Sans", sans-serif;
}

.font_family_source_sans_3{
    font-family: "Source Sans 3", sans-serif;
}

.font_family_montserrat{
    font-family: "Montserrat", sans-serif;
}

.font_family_barlow_semi_condensed{
    font-family: "Barlow Semi Condensed", sans-serif;
}

.font_family_roboto{
    font-family: "Roboto", sans-serif;
}

#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Head */

#head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(rgba(27, 24, 18, 0.7),rgba(24, 22, 15, 0.6)),
    url(pexels-lawrencesuzara-1581554.jpg);
    background-position: center;
    background-size: cover;
    height: 630px;
}

#navbar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.right-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-bar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar_link{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 10px;
}

.navbar_right_insd{
    position: relative;
}

.navbar_right_insd::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
}

.navbar_link:hover .navbar_right_insd::after {
    width: 100%;
}

#navph{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 180px 0px 0px 0px;
}

.navph-top{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

.navph-bottom{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 70%;
    line-height: 1.5;
}

.navph-line{
    position: absolute;
    margin: 480px 0px 0px 0px;
    width: 1px;
    height: 100px;
    background-color: #eeff00;
}

/* Body */

#body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story{
    width: 1200px;
    margin: 50px 0px 0px 0px;
}

.story-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story-up{
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-up-left{
    font-size: 47px;
    font-weight: 600;
    width: 400px;
    margin: 50px 0px 20px 0px;
}

.story-up-right{
    width: 800px;
    margin: 50px 0px 20px 0px;
    color: #838383;
    line-height: 1.7;
    font-size: 16px;
}

.story-down{
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-down-left{
    width: 400px;
}

.story-down-right{
    width: 800px;
    color: #838383;
    line-height: 1.7;
    font-size: 16px;
}

.story-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 100px 0px 0px 0px;
}

.story-bottom-left{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.story-left-first,
.story-left-second,
.story-left-third{
    display: flex;
}

.story-icons{
    background-color: #1a1a1a;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.story-icons i{
    color: rgb(255, 255, 255);
    z-index: 10;
    font-size: 23px;
}

.trio{
    margin: 0px 0px 0px 70px;
    display: flex;
    flex-direction: column;
}

.trio h1{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(26, 26, 26);
}

.trio p{
    font-size: 16px;
    color: #838383;
    line-height: 1.7;
}

.story-bottom-right{
    width: 700px;
    height: 300px;
}

.story-bottom-right img{
    width: 700px;
    height: 500px;
    object-fit: cover;
    position: absolute;
}

.team{
    width: 100%;
    background-color: #1a1a1a;
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-insd{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.team-top{
    display: flex;
    align-items: end;
    margin: 120px 0px 0px 0px;
}

.team-top-left{
    font-size: 50px;
    width: 500px;
    font-weight: 600;
    color: white;
}

.team-top-right{
    width: 700px;
    color: #dfdfdf;
    line-height: 1.7;
    font-size: 16px;
    margin: 0px 0px 0px 50px;
}

.team-bottom{
    width: 100%;
    margin: 50px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.team-member{
    width: 360px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
}

.team-member-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    padding: 300px 0px 0px 0px;
    bottom: 0;
    width: 100%;
    height: 500px;
    color: white;
    font-size: 18px;
    text-align: center;

    /* Başlanğıcda gizli */
    opacity: 0;
    transform: translateY(40px);
    transition: 0.4s ease;

    /* Alt kölgə overlay */
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0)
    );
}

.team-member:hover .team-member-name {
  opacity: 1;
  transform: translateY(0);
}

.team-member-name h1{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.team-member-name p{
    font-size: 15px;
    font-weight: 500;
    color: #d3d3d3;
    line-height: 1.5;
    margin: 0px 20px 30px 20px;
}

.team-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.team-icons a{
    color: white;
}

.team-icons a:hover{
    color: #d4b818;
}
/* Footer */

#footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.footer-inside{
    margin: 50px 0px 0px 0px;
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 60px;
}

.footer-1{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-1-top a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 600;
}

.footer-1-center{
    margin: 20px 0px 0px 0px;
    color: #606060;
    line-height: 1.5;
    font-size: 16px;
}

.footer-1-bottom{
    display: flex;
    gap: 20px;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
}

.footer-1-bottom a{
    color: rgb(0, 0, 0);
}

.footer-1-bottom a:hover{
    color: #1a1a1a;
}

.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-2-top{
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.footer-2-center,
.footer-2-center,
.footer-2-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #606060;
    font-size: 16px;
}

.footer-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-3-top{
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.footer-3-bottom{
    display: flex;
    flex-direction: column;
}

.footer-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}

.footer-link:hover{
    color: #1a1a1a;
}

.copyright{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 20px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.copyright-left{
    width: 50%;
    text-align: left;
}

.copyright-right{
    width: 50%;
    text-align: right;
}