/* All Codes */

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.005em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

body{
    background-color: #1a1a1a;
}

/*
body{
    background-color: #0a9e79;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
*/

/*

---Main Things---

Koyu lacivert: #2B3A67
Şarap bordosu: #732C38
Koyu kahverengi: #4A3F35
Krem rengi: #F5E1DA
Koyu zeytin yeşili: #556B2F
Gül kurusu: #C08081
Fildişi Beyazı: #FFFFF0

background-color: #0a9e79;

font-family: "Funnel Display", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Open Sans", sans-serif;

font-family: "Inter", sans-serif;

font-family: "Playfair Display", serif;

<i class="fa-solid fa-caret-down"></i>
<i class="fa-solid fa-house"></i>
<i class="fa-duotone fa-solid fa-user"></i>
<div id="navbar"></div>
<div id="solmenu"></div>
<div id="content"></div>
<div id="footer"></div>

*/

/* All */

.font_family_funnel_display{
    font-family: "Funnel Display", sans-serif;
}

.font_family_playfair_display{
    font-family: "Playfair Display", serif;
}

.font_family_inter{
    font-family: "Inter", sans-serif;
}

.font_family_babas_neue{
    font-family: "Bebas Neue", sans-serif;
}

.font_family_open_sans{
    font-family: "Open Sans", sans-serif;
}

.font_family_source_sans_3{
    font-family: "Source Sans 3", sans-serif;
}

.font_family_montserrat{
    font-family: "Montserrat", sans-serif;
}

.font_family_barlow_semi_condensed{
    font-family: "Barlow Semi Condensed", sans-serif;
}

.font_family_roboto{
    font-family: "Roboto", sans-serif;
}

#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Head */

#head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
    linear-gradient(rgba(27, 24, 18, 0.7),rgba(24, 22, 15, 0.6)),
    url(pexels-elevate-1267320.jpg);
    background-position: center;
    background-size: cover;
    height: 630px;
}

#navbar{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;
}

.right-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-bar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar_link{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 10px;
}

.navbar_right_insd{
    position: relative;
}

.navbar_right_insd::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
}

.navbar_link:hover .navbar_right_insd::after {
    width: 100%;
}

#navph{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 180px 0px 0px 0px;
}

.navph-top{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 15px;
}

.navph-bottom{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 70%;
    line-height: 1.5;
}

.navph-line{
    position: absolute;
    margin: 480px 0px 0px 0px;
    width: 1px;
    height: 100px;
    background-color: #eeff00;
}

/* Body */

#body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.appetizer{
    background-image: linear-gradient(rgba(27, 24, 18, 0.9),rgba(24, 22, 15, 0.9)),
    url(pexels-valeriya-1639556.jpg);
}

.main-course{
    background-image: linear-gradient(rgba(27, 24, 18, 0.9),rgba(24, 22, 15, 0.9)),
    url(pexels-enginakyurt-2673353.jpg);
}

.dessert{
    background-image: linear-gradient(rgba(27, 24, 18, 0.9),rgba(24, 22, 15, 0.9)),
    url(pexels-quang-nguyen-vinh-222549-2144112.jpg);
}

.appetizer,
.main-course,
.dessert{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.appetizer-top,
.main-course-top,
.dessert-top{
    font-size: 40px;
    font-weight: 600;
    margin: 0px 0px 30px 0px;
}

.menu-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.appetizer-item,
.main-course-item,
.dessert-item{
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    color: #d3d3d3;
}

.menu-line{
    width: 20%;
    height: 1px;
    background-color: #555555;
}

.appetizer-menu,
.main-course-menu,
.dessert-menu{
    width: 90%;
    margin: 60px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu-1,
.menu-2,
.menu-3{
    margin-bottom: 45px;
    height: 90px;
    color: white;
    text-align: left;
}

.menu-1 p,
.menu-2 p,
.menu-3 p{
    padding: 0px 0px 25px 0px;
    color: #afafaf;
    font-size: 16px;
    border-bottom: 1px dashed white;
}

.menu-1 h6,
.menu-2 h6,
.menu-3 h6{
    color: #e2e2e2;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 0px 0px 30px 0px;
}


/* Footer */

#footer{
    border-top: 2px solid #3b3b3b;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-inside{
    margin: 50px 0px 50px 0px;
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 60px;
}

.footer-1{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-1-top a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
}

.footer-1-center{
    margin: 20px 0px 0px 0px;
    color: #dbdbdb;
    line-height: 1.5;
    font-size: 16px;
}

.footer-1-bottom{
    display: flex;
    gap: 20px;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
}

.footer-1-bottom a{
    color: rgb(255, 255, 255);
}

.footer-1-bottom a:hover{
    color: #bdbdbd;
}

.footer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-2-top{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.footer-2-center,
.footer-2-center,
.footer-2-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #dbdbdb;
    font-size: 16px;
}

.footer-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-3-top{
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
}

.footer-3-bottom{
    display: flex;
    flex-direction: column;
}

.footer-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}

.footer-link:hover{
    color: #bdbdbd;
}

.copyright{
    border-top: 1px solid #333333;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 0px 0px;
    padding: 30px 0px 30px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.copyright-left{
    width: 50%;
    text-align: left;
}

.copyright-right{
    width: 50%;
    text-align: right;
}